{% extends "base.html"%}
{% include 'navbar.html' %}

{% block content %}


{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {{ message | safe}}
</div>

{% endfor %}

<!-- {% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }} -->

<h3> Obtiens ton placement à table ! &#127869;</h3>

</br>

<form method="POST">
  {{ form.hidden_tag() }}

  {{ form.firstname.label(class="form-label")}}
  {{ form.firstname(class="form-control")}}

  {{ form.name.label(class="form-label")}}
  {{ form.name(class="form-control")}}

  <br/>

  {{ form.submit(class="btn btn-primary")}}

</form>

{% if 'suggestion_lst' in session %}

{% if session['suggestion_lst'] != False %}


<br/>
<table class="table table-hover table-striped table-bordered">
  <tr>
    <th scope="col" class="table-info"> Suggestion &#x1F9D0; </th>
  </tr>

  {% for suggest in session['suggestion_lst'] %}

  <tr>
    <td> <a href="{{url_for('redirect_suggestion', full_name=suggest[0] ,table=suggest[1])}}"> {{ suggest[0] | title
        }} </a></td>

  </tr>

  {% endfor %}

</table>
{% endif %}
{% endif %}


{% endblock %}