{% extends "base.html"%}

{% include 'navbar_table.html' %}

{% block content %}
<div>
    <h3 class="text-center fw-light"> &#128171; {{session["full_name"] | title }} &#128171;</h3>
    <br>
    <br>
    <h1>&#127864; {{table}}</h1>
    <br>
    <br>
    {% if "message" in session %}
    <p class="fs-1 fw-light">&#x1F4AC {{session['message']}}</p>
    {% endif %}
    <br>
</div>
<div align="center">
    <img src="{{ ['/static/tb_1.jpeg', '/static/tb_2.jpeg'] | random }}" alt="Example Image" width="auto" height="300">
</div>

<!-- <img src="{{ url_for('static', filename='benak.jpeg') }}" alt="LoveImage" width="300" height="auto"> -->

<!-- <img src="https://tenor.com/bRSJ7.gif" alt="this slowpoke moves" width="250" /> -->


{% endblock %}