{% extends "base.html"%}

{% include 'navbar_table.html' %}

{% block content %}
<div>
    <br>
    <br>
    <h2>Table {{table}}</h2>
</div>

<div class="tenor-gif-embed" data-postid="25195805" data-share-method="host" data-aspect-ratio="1.10727"
    data-width="20%"><a href="https://tenor.com/view/chevy-chase-vegas-vacation-cocktail-gif-25195805">Chevy Chase
        GIF</a>from <a href="https://tenor.com/search/chevy-gifs">Chevy GIFs</a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<!-- <img src="https://tenor.com/bRSJ7.gif" alt="this slowpoke moves" width="250" /> -->


{% endblock %}