{% extends "base.html"%}

{% include 'navbar_table.html' %}

{% block content %}
<div>
    <h5 class="text-center alert alert-info"> &#128171; {{session["full_name"] | title }} &#128171;</h5>
    <br>
    <h1>&#127864; {{table}}</h1>
    <br>
    {% if "message" in session %} 
        <lead>&#x1F4AC {{session['message']}}</lead> 
    {% endif %} 
    <br>
    
</div>

<!-- <img src="{{ url_for('static', filename='benak.jpeg') }}" alt="LoveImage" width="300" height="auto"> -->

<!-- <img src="https://tenor.com/bRSJ7.gif" alt="this slowpoke moves" width="250" /> -->


{% endblock %}